extends ../../layouts/default.pug

block main
  h1.mb-4 Thêm mới sản phẩm

  form(
    action=`${prefixAdmin}/products/create`
    method="POST"
    enctype="multipart/form-data"
    id="form-create-product"
  )

    //- Tiêu đề
    .form-group
      label(for="title") Tiêu đề
      input.form-control(
        type="text"
        id="title"
        name="title"
        required
      )

    //- Mô tả
    .form-group
      label(for="desc") Mô tả
      textarea.form-control(
        id="desc"
        name="description"
        rows="5"
      )

    //- Giá
    .form-group
      label(for="price") Giá
      input.form-control(
        type="number"
        id="price"
        name="price"
        value="0"
        min="0"
      )

    //- Giảm giá
    .form-group
      label(for="discount") % Giảm giá
      input.form-control(
        type="number"
        id="discount"
        name="discountPercentage"
        value="0"
        min="0"
      )

    //- Số lượng
    .form-group
      label(for="stock") Số lượng
      input.form-control(
        type="number"
        id="stock"
        name="stock"
        value="0"
        min="0"
      )

    //- Ảnh
    div(class="form-group" 
    upload-image)
      label(for="thumbnail") Ảnh
      input.form-control-file(
        type="file"
        id="thumbnail"
        accept="image/*"
        name="thumbnail"
        upload-image-input
      )
      img(
        src=""
        alt="Preview"
        width="200"
        upload-image-preview
      )

    //- Vị trí
    .form-group
      label(for="position") Vị trí
      input.form-control(
        type="number"
        id="position"
        name="position"
        placeholder="Tự động tăng"
        min="1"
      )

    //- Trạng thái
    .form-group
      label Trạng thái
      .form-check.form-check-inline
        input.form-check-input(
          type="radio"
          id="statusActive"
          name="status"
          value="InStock"
          checked
        )
        label.form-check-label(for="statusActive") Hoạt động

      .form-check.form-check-inline
        input.form-check-input(
          type="radio"
          id="statusInactive"
          name="status"
          value="OutStock"
        )
        label.form-check-label(for="statusInactive") Dừng hoạt động

    //- Submit
    .form-group
      button.btn.btn-primary(type="submit") Thêm sản phẩm
