extends ../../layouts/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
block main
    h1.mb-4 DANH SÁCH SẢN PHẨM

        .card.mb-3
            .card-header Bộ lọc và Tìm kiếm
            .card-body
                .row
                    .col-6
                        +filterStatus(category)
                    .col-6
                        +search(keyword)

            
        .card.mb-3
            .card-header Danh sách sản phẩm
            .card-body
                table.table.table-bordered.table-hover.table-sm.align-middle
                    thead.thead-dark
                        tr
                            th.text-center STT
                            th.text-center Hình ảnh
                            th Tiêu đề
                            th.text-center Giá
                            th.text-center Trạng thái
                            th.text-center Hành động
                    tbody
                        each val,index in products
                            tr
                                td.text-center #{index + 1}
                                td.text-center
                                    img.img-thumbnail(
                                        width="80",
                                        src=val.thumbnail
                                    )
                                td #{val.title}
                                td.text-center #{val.price}
                                td
                                    if(val.status == "InStock")
                                        a(href="javascript:;"
                                        data-status = "InStock"
                                        data-id = val.id
                                        button-change-status
                                        class="badge badge-success") Còn hàng
                                    else
                                        a(href="javascript:;"
                                        data-status = "OutStock"
                                        data-id = val.id
                                        button-change-status
                                        class="badge badge-danger") Hết hàng
                                td.text-center
                                    button.btn.btn-warning.btn-sm Sửa
                                    button.btn.btn-danger.btn-sm.ml-1 Xóa
    +pagination(pagination)

    form(
        action="",
        method="POST",
        id="form-change-status",
        data-path=`${prefixAdmin}/products/change-status`
    )
    script(src="/admin/js/products.js")