extends ../../layouts/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/alert.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/sort.pug
block main

    +alert(success, error)
    h1.mb-4 DANH SÁCH SẢN PHẨM
        .card.mb-3
            .card-header Bộ lọc và Tìm kiếm
            .card-body
                .row
                    .col-4
                        +form-sort()
                    .col-4
                        +filterStatus(category)   
                    .col-4
                        +search(keyword)


            
        .card.mb-3
            .card-body
                
                .card.mb-3
                    .card-header Danh sách
                    .card-body
                        .row 
                            .col-8
                                +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)
                            .col-4
                                a(href=`${prefixAdmin}/products/create` class="btn btn-outline-success") Thêm sản phẩm

                table(class="table table-hover table-sm"
                checkbox-multi)
                    thead.thead-dark
                        tr
                            th
                                input(type="checkbox", name="checkall")
                            th.text-center STT
                            th.text-center Hình ảnh
                            th.text-center Tiêu đề
                            th.text-center Giá
                            th.text-center Vị trí
                            th.text-center Trạng thái
                            th.text-center Hành động
                    tbody
                        each val,index in products
                            tr
                                td
                                    input(
                                        type="checkbox",
                                        name="id",
                                        value=val.id
                                    )
                                td.text-center #{index + 1}
                                td.text-center
                                    img.img-thumbnail(
                                        width="80",
                                        src=val.thumbnail
                                    )
                                td #{val.title}
                                td.text-center #{val.price}
                                td
                                    input(
                                        type="number"
                                        value = val.position  
                                        style ="width: 60px;"
                                        name = "position"
                                    )
                                td
                                    if(val.status == "InStock")
                                        a(href="javascript:;"
                                        data-status = "InStock"
                                        data-id = val.id
                                        button-change-status
                                        class="badge badge-success") Còn hàng
                                    else
                                        a(href="javascript:;"
                                        data-status = "OutStock"
                                        data-id = val.id
                                        button-change-status
                                        class="badge badge-danger") Hết hàng
                                td.text-center
                                    a(class="btn btn-warning btn-sm"
                                    href = `${prefixAdmin}/products/edit/${val.id}`
                                    ) Sửa
                                    a(
                                        class="btn btn-info btn-sm ml-1"
                                        href = `${prefixAdmin}/products/detail/${val.id}`
                                    ) Chi tiết
                                    button(class="btn btn-danger btn-sm ml-1",
                                    data-id = val.id,
                                    button-delete) Xóa
    +pagination(pagination)

    form(
        action="",
        method="POST",
        id="form-change-status",
        data-path=`${prefixAdmin}/products/change-status`
    )

    form(
        action="",
        method="POST",
        id="form-delete-product",
        data-path=`${prefixAdmin}/products/delete`
    )
    
    script(src="/admin/js/products.js")