include ../mixins/subMenu
header.header
    .container
        .row.align-items-center
            .col-3
                .inner-logo 
                    a(href="/")
                        img(src="/images/logo (1).svg", alt="Logo")
            .col-5
                form(action="/search" method="GET")
                    .form-group.d-flex.mb-0
                        input(
                            type="text"
                            placeholder="Nhập từ khóa..."
                            class="form-control"
                            name="keyword"
                        )
                        button(
                            type="submit"
                            class="btn btn-primary"
                        ) Tìm
            .col-4
                .inner-menu 
                    ul 
                        li
                            a(href="/") TRANG CHỦ
                        li.sub-menu
                            - const pathProduct = "/products"
                            a(href=pathProduct) SẢN PHẨM
                                +subMenu(layoutcategory)