extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
  if(roles.permissions.includes("roles_create"))
    h1.mb-4 Thêm mới nhóm quyền
    +alert(success, error)

    form(
      action=`${prefixAdmin}/roles/create`
      method="POST"
      enctype="multipart/form-data"
      id="form-create-roles"
    )

      //- Tiêu đề
      .form-group
        label(for="title") Tiêu đề
        input.form-control(
          type="text"
          id="title"
          name="title"
        )

      //- Mô tả
      //- Mô tả
      .form-group
        label(for="my-expressjs-tinymce-app") Mô tả
        textarea.form-control(
          id="my-expressjs-tinymce-app"
          name="description"
          rows="5")
      //- Submit
      .form-group
        button.btn.btn-primary(type="submit") Thêm nhóm quyền