extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  h1.mb-4 Thêm mới tài khoản

  +alert-error(success, error)

  form(
    action=`${prefixAdmin}/accounts/create`
    method="POST"
    enctype="multipart/form-data"
  )

    //- Họ tên
    .form-group
      label(for="fullName") Họ tên *
      input.form-control(
        type="text"
        id="fullName"
        name="fullName"
        required
      )

    //- Email
    .form-group
      label(for="email") Email *
      input.form-control(
        type="email"
        id="email"
        name="email"
        required
      )

    //- Mật khẩu
    .form-group
      label(for="password") Mật khẩu *
      input.form-control(
        type="password"
        id="password"
        name="password"
        required
      )

    //- Số điện thoại
    .form-group
      label(for="phone") Số điện thoại
      input.form-control(
        type="text"
        id="phone"
        name="phone"
      )

    //- Avatar
    .form-group(upload-image)
      label(for="avatar") Avatar
      input.form-control-file(
        type="file"
        id="avatar"
        name="avatar"
        accept="image/*"
        upload-image-input
      )
      br
      img(
        src=""
        width="150"
        alt="Preview"
        upload-image-preview
      )
      br
      button.btn.btn-secondary(
        type="button"
        upload-image-delete
      ) Xóa ảnh

    //- Phân quyền
    .form-group
      label(for="role") Phân quyền
      select.form-control(
        id="role"
        name="role"
      )
        each role in roles
          option(value=role._id) #{role.title}

    //- Trạng thái
    .form-group
      label Trạng thái

      .form-check.form-check-inline
        input.form-check-input(
          type="radio"
          name="status"
          id="active"
          value="active"
          checked
        )
        label.form-check-label(for="active") Hoạt động

      .form-check.form-check-inline
        input.form-check-input(
          type="radio"
          name="status"
          id="inactive"
          value="inactive"
        )
        label.form-check-label(for="inactive") Dừng hoạt động

    //- Submit
    .form-group.mt-3
      button.btn.btn-primary(type="submit") Tạo mới
