extends ../../layouts/default.pug

block main
  .product-detail
    .container
      .product-top
        .product-image-wrap
          img.product-img(src=product.thumbnail, alt=product.title)
          if product.discountPercentage > 0
            span.discount-badge -#{product.discountPercentage}%

        .product-info
          h1.product-title= product.title

          p.product-category
            | Danh mục: 
            a(href="#")= product.category

          .product-pricing
            if product.discountPercentage > 0
              span.price-sale= Math.round(product.price * (100 - product.discountPercentage) / 100) + '$'
              span.price-original= product.price + '$'
              span.price-discount Giảm tới #{Math.round(product.price * product.discountPercentage / 100)}$
            else
              span.price-sale= product.price + '$'

          p.product-stock Còn lại #{product.stock} sản phẩm

          form.cart-form(action=`/cart/add/${product.id}`, method="POST")
            input.quantity-input(
              type="number"
              name="quantity"
              value="1"
              min="1"
              max=product.stock
            )
            button.btn-add-cart(type="submit") Thêm vào giỏ hàng

      .product-description
        h2.section-title Mô tả sản phẩm
        .description-content!= product.description
