extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .row
    .col-12
      +box-head("Chat")

  .row
    .col-12
      .chat
        //- .inner-head
        //-   .inner-avatar EY
        //-   .inner-name Em Yêu
        .inner-body
          each chat in chats
            div(class=(chat.user_id == user.id ? 'inner-outgoing' : 'inner-incoming'))
              if(chat.userId !== userId)
                .inner-name #{chat.infoUser.id}
              .inner-content
                | #{chat.content}
        .inner-foot
          form.inner-form(action="")
            input(
              type="text"
              name="content"
              class="inner-input"
              placeholder="Nhập nội dung..."
            )
            button
                i.fa-solid.fa-paper-plane
