extends ../../layouts/default.pug

block main 
    h1 ĐỐ ANH BẮT ĐC EM
    div #{user.role_id}
    div ---------
    
    div #{roles.permissions.includes("products-category_view")}
    div #{roles.permissions.includes("products-category_create")}
    div #{roles.permissions.includes("products-category_edit")}
    div #{roles.permissions.includes("products-category_delete")}
    div #{roles.permissions.includes("products_view")}
    div #{roles.permissions.includes("products_create")}
    div #{roles.permissions.includes("products_edit")}
    div #{roles.permissions.includes("products_delete")}
    div #{roles.permissions.includes("roles_view")}
    div #{roles.permissions.includes("roles_create")}
    div #{roles.permissions.includes("roles_edit")}
    div #{roles.permissions.includes("roles_delete")}
    div #{roles.permissions.includes("roles_permissions")}