.sider
  .inner-menu
    ul
      li(class=page === "dashboard" ? "active" : "")
        a(href=`${prefixAdmin}/dashboard`) Tổng quan
      li(class=page === "products" ? "active" : "")
        a(href=`${prefixAdmin}/products`) Sản Phẩm
      li(class=page === "category" ? "active" : "")
        a(href=`${prefixAdmin}/category`) Danh Mục Sản Phẩm
